
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url('https://source.unsplash.com/random/560x600/?forest,rain,programming');
    font-family: 'Open Sans', sans-serif;
}
body::before{
    content: '';
    background-color: grey;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar{
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(53, 97, 243, 0.274);
    border-radius: 6px;
}

.card{
    background-color:rgba(0, 0, 0, 0.836);
    color: white;
    padding: 3em;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 410px;
    margin: 1em;
    overflow-x: hidden;
    

}
.todo{
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
    height: 26px;
    border-radius: 8px;
    font-size: 15px;
  
}
.duedate-input{
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.164);
    height: 27px;
    border-radius: 8px;
    font-size: 15px;
    
}

.btn-b,
.delete-btn{
    height: 27px;
    padding: 10px,13px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: rgb(76, 204, 25);
    font-size: 15px;

}

.inputs-grid,
.display-todos{
display: grid;
grid-template-columns: 200px 150px 100px;
row-gap: 15px;
column-gap: 5px;
}

.inputs-grid{
    margin-bottom: 10px;
}
.delete-btn{
   background-color: red;
   width: 78px;
}

.display-todos{
    font-size: 14px;   
}
.todo-wrap{
    width: 100%;
}

@media only screen and (max-width: 520px){
    body{
        align-items: normal;
    }
    
    .card{
        max-width: 430px;
        max-height: 350px;
        padding: 1.5em;
    }
    .inputs-grids{
        display: flex;
       max-width: 100%; 
    }
    .display-todos{
        display: grid;
    }
    .todo-wrap{
        width: 100%;
    }
} 